@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	transition: all 0.15s;
}
//temaplates
$main-color: #d00101;

$index: calc(1vw + 1vh);
$conversion-factor: 24px;

@function size($px) {
	@return calc($px / $conversion-factor * $index);
}

@mixin main-container() {
	width: 100%;
	padding-right: size(120px);
	padding-left: size(120px);
	@media screen and (max-width: 1050px) {
		padding-right: 20px;
		padding-left: 20px;
	}
}

@mixin btn($py, $px, $fon, $color) {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	padding: size($py) size($px);
	background-color: $fon;
	border-radius: 2px;
	color: $color;
	font-size: size(16px);
	font-weight: 400;
	line-height: 100%;
	word-wrap: break-word;
	white-space: nowrap;
	transition: all 0.3s ease-in-out;
	@media screen and (max-width: 1050px) {
		font-size: 16px;
		padding: $py $px;
	}
}

@mixin flex-start {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
}

@mixin flex-center {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

@mixin flex-stretch {
	display: flex;
	align-items: stretch;
}

@mixin flex-end {
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
}

@mixin flex-col-center {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}

@mixin flex-col-start {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

@mixin flex-col-end {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

body {
	width: 100%;
	@include flex-col-start();
	font-family: "Poppins", sans-serif;
	font-optical-sizing: auto;
	font-weight: normal;
	font-style: normal;
	background-color: #fff;
	overflow-x: hidden;
	&.overflow-hidden {
		overflow: hidden;
	}
}

img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

a {
	font-family: inherit;
	color: inherit;
	text-decoration: none;
}

li {
	list-style-type: none;
}

.flex-start {
	@include flex-start();
}

.flex-center {
	@include flex-center();
}
.flex-end {
	@include flex-end();
}

.flex-col-end {
	@include flex-col-end();
}

.flex-col-start {
	@include flex-col-start();
}

.flex-col-center {
	@include flex-col-center();
}
.flex-stretch {
	@include flex-stretch;
}

.span-text {
	color: rgba(255, 255, 255, 0.5);
	font-size: size(14px);
	font-weight: 400;
	line-height: 100%;
	word-wrap: break-word;
	@media screen and (max-width: 1050px) {
		font-size: 14px;
	}
}

.main-title {
	color: white;
	font-size: size(60px);
	font-weight: 400;
	line-height: 110%;
	word-wrap: break-word;
	@media screen and (max-width: 1050px) {
		font-size: 40px;
	}
}

.block-title {
	color: #656565;
	font-size: size(32px);
	font-weight: 400;
	line-height: 110%;
	word-wrap: break-word;
	@media screen and (max-width: 1050px) {
		font-size: 26px;
	}
	span {
		color: #ff2c2c;
	}
}

.sub {
	color: rgba(255, 255, 255, 0.7);
	font-size: size(16px);
	font-weight: 300;
	line-height: 160%;
	word-wrap: break-word;
	@media screen and (max-width: 1050px) {
		font-size: 16px;
	}
}
.sub-secondary {
	color: rgba(0, 0, 0, 0.5);
	font-size: size(14px);
	font-weight: 300;
	line-height: 130%;
	word-wrap: break-word;
	@media screen and (max-width: 1050px) {
		font-size: 14px;
	}
}

.btn-arrow {
	position: relative;
	height: size(56px);
	@include flex-stretch();
	@media screen and (max-width: 1050px) {
		height: 56px;
		max-width: 100%;
	}
	span {
		@include btn(20px, 51.5px, white, rgba(0, 0, 0, 0.8));
		border: 1px #e8e8e8 solid;
		@media screen and (max-width: 400px) {
			padding-left: 30px;
			padding-right: 30px;
		}
	}
	.btn__label__container {
		height: 100%;
		width: size(55px);
		@include flex-center();
		justify-content: center;
		background-color: #ff2c2c;
		@media screen and (max-width: 1050px) {
			width: 55px;
		}
	}
	.btn__label {
		width: size(8px);
		height: size(14px);
		@media screen and (max-width: 1050px) {
			width: 8px;
			height: 14px;
		}
	}
}

.num,
.num__container {
	color: #ff2c2c;
	font-size: size(48px);
	font-weight: 600;
	line-height: 100%;
	word-wrap: break-word;
	@media screen and (max-width: 1050px) {
		font-size: 48px;
	}
}

.dropdown-lang {
	position: relative;
	cursor: pointer;
	&.active {
		.dropdown-list {
			opacity: 1;
			height: size(100px);
			@media screen and (max-width: 1050px) {
				height: 130px;
			}
		}
		.span-dropdown {
			opacity: 0.5;
		}
	}
}
.current-lang__img {
	width: 31px;
	height: 21px;
}
.current-lang {
	@include flex-center();
	color: rgba(255, 255, 255, 0.9);
	font-size: size(17px);
	font-weight: 500;
	line-height: 100%;
	word-wrap: break-word;
}
.dropdown-list {
	position: absolute;
	opacity: 0;
	height: 0;
	top: 150%;
	left: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px;
	background-color: #fff;
	padding: size(13px) size(10px);
	border-radius: 10px;
	overflow: hidden;
	z-index: 6;
	transition: all 0.4s;
	.item-dropdown {
		color: rgba(0, 0, 0, 0.8);
		font-size: size(17px);
		font-weight: 500;
		line-height: 100%;
		word-wrap: break-word;
	}
}
// !Header
header {
	@include main-container();
	position: fixed;
	top: 0;
	background-color: $main-color;
	@include flex-center();
	padding-top: size(17px);
	padding-bottom: size(18px);
	color: #fff;
	z-index: 10;
	@media screen and (max-width: 1365px) {
		gap: 10px;
	}
	@media screen and (max-width: 1050px) {
		padding-top: 17px;
		padding-bottom: 19px;
	}
	.phone {
		@media screen and (max-width: 1050px) {
			display: none;
		}
	}
}
.logo__container {
	width: size(120px);
	min-width: max-content;
	height: size(27.37px);
	@media screen and (max-width: 1050px) {
		width: 120px;
		height: 27.37px;
	}
}
.navbar {
	display: flex;
	align-items: center;
	gap: size(26px);
	@media screen and (max-width: 1365px) {
		gap: size(20px);
	}
	& > * {
		white-space: nowrap;
	}
	@media screen and (max-width: 1050px) {
		display: none;
	}
}
.nav__item {
	color: rgba(255, 255, 255, 0.9);
	font-size: size(17px);
	font-weight: 500;
	line-height: 100%;
	word-wrap: break-word;
}

.phone {
	@include flex-col-end();
	gap: size(6px);
}
.phone__link {
	color: rgba(255, 255, 255, 0.9);
	font-size: size(18px);
	font-weight: 700;
	line-height: 100%;
	word-wrap: break-word;
	@media screen and (max-width: 1050px) {
		font-size: 18px;
	}
}
.phone__sub {
	color: rgba(255, 255, 255, 0.7);
	font-size: size(14px);
	font-weight: 400;
	text-decoration: underline;
	line-height: 100%;
	word-wrap: break-word;
	white-space: nowrap;
	@media screen and (max-width: 1050px) {
		font-size: 14px;
		margin-bottom: 5px;
	}
}
#search_icon {
	width: size(24px);
	min-width: max-content;
	height: size(24px);
	cursor: pointer;
	@media screen and (max-width: 1050px) {
		display: none;
	}
}
.search__form {
	position: absolute;
	top: 100%;
	left: 0;
	@include main-container();
	@include flex-center();
	background-color: white;
	pointer-events: none; //!
	opacity: 0; //!
	z-index: -3;
	transition: all 0.5s;
	&.active {
		opacity: 1;
		pointer-events: all;
		z-index: 2;
	}
	#search__form__input {
		width: 100%;
		color: rgba(0, 0, 0, 0.4);
		font-size: 14px;
		font-family: Poppins, sans-serif;
		font-weight: 300;
		line-height: 14px;
		word-wrap: break-word;
		padding: size(21px) size(14px);
		border: none;
		outline: none;
	}
	.search__form__icon {
		width: size(22px);
		height: size(22px);
		cursor: pointer;
	}
	.search__form__close {
		width: size(16px);
		height: size(16px);
		cursor: pointer;
	}
}
.request__btn {
	@include btn(21.5px, 53px, rgba(255, 255, 255, 0.4), #fff);
	@media screen and (max-width: 1365px) {
		padding-left: size(20px);
		padding-right: size(20px);
	}
	@media screen and (max-width: 1050px) {
		display: none;
	}
}

// Mobile menu
.mobile-menu {
	position: fixed;
	inset: 0;
	@include main-container();
	width: 100vw;
	height: 0;
	@include flex-col-start();
	background: linear-gradient(189deg, #2b2627 0%, #2d1818 100%);
	overflow-y: auto;
	z-index: 8;
	transition: all 0.5s;
	&.active {
		height: 100vh;
		padding-top: 125px;
		padding-bottom: 29.52px;
	}
	@media screen and (min-width: 1050px) {
		display: none;
	}
	.phone {
		@include flex-col-start();
		margin-bottom: 26px;
	}
	.phone__link {
		color: white;
		font-size: 20px;
		font-weight: 400;
		word-wrap: break-word;
	}
	.phone__sub {
		color: rgba(255, 255, 255, 0.7);
		font-size: 17px;
		font-weight: 500;
		word-wrap: break-word;
		text-decoration: none;
	}
}
.mobile-menu__title {
	color: rgba(255, 255, 255, 0.5);
	font-size: 18px;
	font-weight: 400;
	line-height: 110%;
	word-wrap: break-word;
	margin-bottom: 36px;
}
.mobile-menu__navbar {
	@include flex-col-start();
	gap: 25px;
	margin-bottom: 97px;
	.navbar__item,
	.current-lang {
		align-self: stretch;
		color: rgba(255, 255, 255, 0.8);
		font-size: 28px;
		font-weight: 400;
		line-height: 110%;
		word-wrap: break-word;
	}
	.item-dropdown {
		color: rgba(0, 0, 0, 0.8);
		font-size: 28px;
		font-weight: 400;
		line-height: 30.8px;
		word-wrap: break-word;
	}
}
.address {
	width: 292px;
	color: rgba(255, 255, 255, 0.7);
	font-size: 17px;
	font-weight: 400;
	line-height: 25.88px;
	word-wrap: break-word;
	margin-bottom: 47px;
}
.mail {
	color: rgba(255, 255, 255, 0.9);
	font-size: 17px;
	font-weight: 600;
	word-wrap: break-word;
	margin-bottom: 46px;
}
.socmedia {
	display: flex;
	align-items: center;
	gap: 9.82px;
	.soc__item {
		width: 35.76px;
		height: 35.18px;
	}
}

.not-mobile {
	@media screen and (max-width: 1050px) {
		display: none !important;
	}
}
.not-desktop {
	@media screen and (min-width: 1050px) {
		display: none !important;
	}
}
//burger menu
.menu-btn {
	position: relative;
	cursor: pointer;
	&.active {
		.menu-btn__burger {
			width: 0;
			height: 0;
		}
		.menu-btn__close {
			width: 41px;
			height: 41px;
		}
	}
	@media screen and (min-width: 1050px) {
		display: none;
	}
	.menu-btn__replacer,
	.menu-btn__burger {
		width: 37px;
		height: 25.74px;
	}
	.menu-btn__burger,
	.menu-btn__close {
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		transition: all 0.5s;
	}
	.menu-btn__close {
		width: 0;
		height: 0;
	}
}

//!main page
.main-block {
	position: relative;
	width: 100vw;
	height: 100vh;
	background: linear-gradient(0deg, white 0%, white 100%),
		linear-gradient(82deg, rgba(43.56, 4.9, 4.9, 0.7) 0%, rgba(105.94, 78.68, 78.68, 0.49) 29%, rgba(255, 255, 255, 0) 100%);
	overflow: hidden;
	.main-slider {
		position: relative;
		width: 100%;
		height: 100%;
	}
	.btns {
		position: absolute;
		left: size(120px);
		@include flex-center();
		gap: size(21px);
		z-index: 2;
		@media screen and (max-width: 1050px) {
			left: 20px;
			gap: 21px;
		}
		.btns__next,
		.btns__prev {
			width: size(51px);
			height: size(51px);
			cursor: pointer;
			@media screen and (max-width: 1050px) {
				width: 51px;
				height: 51px;
			}
		}
	}
	.swiper-fraction {
		all: unset;
		width: size(60px);
		color: rgba(255, 255, 255, 0.5);
		font-size: size(20px);
		font-weight: 400;
		line-height: 110%;
		word-wrap: break-word;
		z-index: 2;
		@media screen and (max-width: 1050px) {
			position: absolute;
			font-size: 20px;
			top: -72px;
			right: 20px;
		}
	}
	.swiper-wrapper {
		width: 100%;
		height: 100%;
	}
	.swiper-slide {
		overflow: hidden;
	}
	.main-slider__item {
		@include main-container();
		height: 100%;
		@include flex-col-start();
		justify-content: flex-end;
		padding-top: size(414px);
		padding-bottom: size(43px);
		@media screen and (max-width: 1050px) {
			justify-content: flex-start;
			padding-top: 180px;
			padding-bottom: 78px;
		}
		&::before {
			@media screen and (max-width: 1050px) {
				content: " ";
				position: absolute;
				inset: 0;
				width: 100%;
				height: 100%;
				background: rgb(0, 0, 0, 0.5);
				z-index: -1;
			}
		}
	}
	.slide__img {
		position: absolute;
		inset: 0;
		opacity: 0.8;
		z-index: -2;
	}
	.offer {
		width: 100%;
		@include flex-end();
		gap: 20px;
		padding-bottom: size(45px);
		border-bottom: 1px rgba(255, 255, 255, 0.3) solid;
		margin-bottom: size(46px);
		@media screen and (max-width: 1025px) {
			@include flex-col-start();
			margin-bottom: 68px;
		}
	}
	.offer__content {
		width: size(647px);
		@include flex-col-start();
		gap: size(17px);
		@media screen and (max-width: 1050px) {
			width: 100%;
		}
	}
	.offer__structure {
		@include flex-end();
		justify-content: flex-start;
		@media screen and (max-width: 1050px) {
			@include main-container();
			justify-content: space-between;
			gap: 10px;
		}
		&.original {
			position: absolute;
			right: size(120px);
			z-index: 2;
			@media screen and (max-width: 1050px) {
				left: 0;
			}
		}
		&.replacer {
			opacity: 0;
			pointer-events: none;
		}
	}
	.main-slider__btn {
		margin-right: size(29px);
		@media screen and (max-width: 1025px) {
			margin-right: 0;
		}
	}
	.offer__bottom {
		width: 100%;
		@include flex-center();
		justify-content: flex-start;
		gap: size(45px);
		@media screen and (max-width: 1025px) {
			@include flex-col-start();
		}
	}
	.settings {
		width: size(52px);
		height: size(52px);
		margin-right: size(67px);
		@media screen and (max-width: 1025px) {
			width: 52px;
			height: 52px;
			margin-right: 0;
		}
	}
	.sub {
		width: size(514px);
		@media screen and (max-width: 1025px) {
			width: 100%;
		}
	}
	.replacer__btns {
		width: size(127px);
		height: size(51px);
		@media screen and (max-width: 1050px) {
			width: 126px;
			height: 51px;
		}
	}
	.replacer__fraction {
		width: size(39px);
		height: size(22px);
		@media screen and (max-width: 1050px) {
			width: 44px;
			height: 22px;
		}
	}
}

.numbers {
	@include main-container();
	position: absolute;
	right: 0;
	bottom: 0;
	z-index: 3;
	width: 50%;
	@include flex-start();
	justify-content: flex-end;
	gap: size(53px);
	padding-top: size(32px);
	padding-bottom: size(20px);
	@media screen and (max-width: 1025px) {
		width: 100%;
		justify-content: flex-start;
		gap: 53px;
		padding-top: 43px;
		padding-bottom: 43px;
		background-color: white;
	}
	.numbers__bg {
		position: absolute;
		width: 100%;
		height: 100%;
		right: 0;
		bottom: 0;
		z-index: -1;
		object-position: 0;
		@media screen and (max-width: 1025px) {
			display: none;
		}
	}
	.numbers__item {
		@include flex-center();
		gap: size(15px);
		@media screen and (max-width: 1025px) {
			@include flex-col-start();
		}
	}
	.numbers__sub {
		width: size(65px);
		color: rgba(0, 0, 0, 0.5);
		font-size: size(14px);
		font-weight: 300;
		line-height: size(18.2px);
		word-wrap: break-word;
		@media screen and (max-width: 1050px) {
			width: 100%;
			font-size: 14px;
			line-height: 18.2px;
		}
	}
}

.line {
	width: 98%;
	height: 0px;
	border: 3px #ff2c2c solid;
	margin-top: size(60px);
	margin-bottom: size(58px);
	place-self: end;
	@media screen and (max-width: 1050px) {
		display: none;
	}
}

//!Filter
.filter {
	position: relative;
	@include main-container();
	@media screen and (max-width: 1050px) {
		overflow: hidden;
	}
	.span-text {
		color: rgba(167.88, 167.88, 167.88, 0.65);
		margin-bottom: size(17px);
		@media screen and (max-width: 1050px) {
			margin-bottom: 17px;
		}
	}
	.filter__bg {
		position: absolute;
		left: 50%;
		width: 100%;
		padding-right: size(42px);
		padding-left: size(42px);
		transform: translateX(-50%);
		object-position: top;
		z-index: -1;
		@media screen and (max-width: 1050px) {
			padding: 0;
			top: -10%;
			height: 130%;
		}
	}
	.fiter__cotainer {
		@include flex-col-start();
		padding-top: size(50px);
		padding-bottom: size(74px);
		@media screen and (max-width: 1050px) {
			padding-bottom: 67px;
		}
	}
	.flex-center {
		width: 100%;
		margin-bottom: size(76px);
		@media screen and (max-width: 1050px) {
			margin-bottom: 35px;
		}
	}
	.filter__btn {
		width: 100%;
		height: max-content;
		@include btn(17px, 150px, #ff2c2c, #fff);
		justify-content: center;
		align-self: flex-end;
	}
}
.filters__content {
	width: 100%;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	row-gap: size(34px);
	column-gap: size(48px);
	@media screen and (max-width: 1050px) {
		@include flex-col-start();
		gap: 30px;
	}
}
.filters__item {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	&.span-2 {
		grid-column: span 2;
		@media screen and (max-width: 1050px) {
			grid-column: span 1;
		}
	}
	.item__title {
		color: black;
		font-size: size(16px);
		font-weight: 300;
		line-height: 100%;
		word-wrap: break-word;
		margin-bottom: size(20px);
		@media screen and (max-width: 1050px) {
			font-size: 16px;
			margin-bottom: 20px;
		}
	}
	form {
		position: relative;
		width: 100%;
	}

	input {
		width: 100%;
		padding: size(16px) size(17px);
		background: white;
		border-radius: 2px;
		border: 1px solid;
		justify-content: flex-start;
		align-items: center;
		gap: 10px;
		display: inline-flex;
		color: rgba(0, 0, 0, 0.55);
		font-size: size(14px);
		font-weight: 300;
		line-height: 100%;
		word-wrap: break-word;
		cursor: pointer;
		outline: none;
		@media screen and (max-width: 1050px) {
			font-size: 14px;
			padding: 16px 17px;
		}
	}
	.dropdown__search__icon,
	.dropdown__triangel {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		right: size(17px);
		z-index: 1;
		@media screen and (max-width: 1050px) {
		}
	}
	.dropdown__search__icon {
		width: size(18.02px);
		height: size(18.02px);
		@media screen and (max-width: 1050px) {
			width: 18.02px;
			height: 18.02px;
		}
	}
	.dropdown__triangel {
		width: size(14px);
		height: size(7px);
		transition: all 0.5s;
		@media screen and (max-width: 1050px) {
			width: 14px;
			height: 7px;
		}
	}
	.filter__dropdown {
		position: relative;
		width: 100%;
		transition: all 0.5s;
		&.active {
			.filter__dropdown__container {
				height: 130px;
				padding: 20px 10px;
				overflow-y: auto;
				box-shadow: 0px 0px 10px rgb(0, 0, 0, 0.2);
			}
			.dropdown__triangel {
				transform: translateY(-50%) rotate(-180deg);
			}
		}
		&:hover {
			@media screen and (min-width: 1050px) {
				.filter__dropdown__container {
					height: size(200px);
					padding: size(20px) size(10px);
					overflow-y: auto;
					box-shadow: 0px 0px 10px rgb(0, 0, 0, 0.2);
				}
				.dropdown__triangel {
					transform: translateY(-50%) rotate(-180deg);
				}
			}
		}
	}
	.filter__dropdown__container {
		position: absolute;
		top: 110%;
		left: 0;
		height: 0;
		width: 100%;
		background-color: white;
		overflow: hidden;
		display: flex;
		flex-direction: column;
		gap: size(10px);
		transition: all 0.3s;
		cursor: pointer;
		border-radius: 5px;
		z-index: 2;
		&::-webkit-scrollbar {
			width: 2px;
		}
		&::-webkit-scrollbar-thumb {
			background-color: #4444;
			outline: 1px solid #4444;
		}
	}
}
.circle-settings {
	width: size(80.26px);
	height: size(80.26px);
}
.img__label {
	width: 100vw;
	height: size(205px);
	margin-top: size(72px);
	margin-bottom: size(94px);
	@media screen and (max-width: 1050px) {
		margin-top: 0;
		height: 205px;
		object-fit: cover;
	}
}

//!quality
.quality {
	@include main-container();
	@include flex-col-start();
	margin-bottom: size(87px);
	@media screen and (max-width: 1050px) {
		margin-bottom: 74px;
	}
	.flex-end {
		width: 100%;
		padding-bottom: size(45px);
		border-bottom: 1px #ff2c2c solid;
		margin-bottom: size(47px);
		@media screen and (max-width: 1050px) {
			@include flex-col-start();
			gap: 47px;
			padding-bottom: 56px;
			margin-bottom: 59px;
		}
	}
	.flex-col-start {
		width: size(550px);
		@media screen and (max-width: 1050px) {
			width: 100%;
		}
	}
	.span-text {
		color: #a8a8a8;
		margin-bottom: size(17px);
		@media screen and (max-width: 1050px) {
			margin-bottom: 17px;
		}
	}
}
.quality__cards {
	display: flex;
	align-self: stretch;
	gap: size(20px);
	@media screen and (max-width: 1050px) {
		@include flex-col-start();
	}
}
.quality__card {
	flex: 1;
	@include flex-col-start();
	background: #f6f6f6;
	padding: size(27px) size(16px);
	transition: all 0.5s;
	border: 1px solid #f6f6f6;
	@media screen and (max-width: 1050px) {
		width: 100%;
		padding: 27px 20px;
	}
	&:last-child {
		flex: 1.5;
		background-color: #fff;
		border-color: #ddd;
		@media screen and (max-width: 1050px) {
			flex: 1;
		}
	}
	.card__top {
		width: 100%;
		@include flex-start();
		gap: 10px;
		margin-bottom: size(24px);
		@media screen and (max-width: 1050px) {
			margin-bottom: 24px;
		}
	}
	.card__img {
		width: size(65px);
		height: size(65px);
		padding: size(20px);
		background-color: #231f20;
		border-radius: 50%;
		@media screen and (max-width: 1050px) {
			width: 65px;
			height: 65px;
			padding: 20px;
		}
	}
	.card__number {
		color: rgba(0, 0, 0, 0.3);
		font-size: size(18px);
		font-family: Poppins, sans-serif;
		font-weight: 500;
		line-height: 130%;
		word-wrap: break-word;
		@media screen and (max-width: 1050px) {
			font-size: 18px;
		}
	}
	.card__title {
		width: 100%;
		color: #222222;
		font-size: size(18px);
		font-weight: 400;
		line-height: 130%;
		word-wrap: break-word;
		padding-bottom: size(22px);
		border-bottom: 1px #e0e0e0 solid;
		margin-bottom: size(22px);
		@media screen and (max-width: 1050px) {
			font-size: 18px;
			padding-bottom: 22px;
			margin-bottom: 22px;
		}
	}
	.card__sub {
		width: 100%;
		color: #686868;
		font-size: size(13px);
		font-weight: 300;
		line-height: 150%;
		word-wrap: break-word;
		@media screen and (max-width: 1050px) {
			font-size: 13px;
		}
	}
}

//!Catalog
.catalog {
	position: relative;
	@include main-container();
	width: 100vw;
	@include flex-col-start();
	padding-top: size(93px);
	padding-bottom: size(118px);
	background: #231f20;
	@media screen and (max-width: 1050px) {
		padding-top: 75px;
		padding-bottom: 60px;
	}
	.catalog__img {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		opacity: 0.06;
		z-index: -1;
	}
	.span-text {
		color: rgba(255, 255, 255, 0.65);
		margin-bottom: size(17px);
		@media screen and (max-width: 1050px) {
			margin-bottom: 17px;
		}
	}
	.block-title {
		color: #fff;
		margin-bottom: size(83px);
		@media screen and (max-width: 1050px) {
			margin-bottom: 77px;
		}
	}
	.catalog__line {
		width: 100%;
		height: 0px;
		border: 1px rgba(255, 255, 255, 0.2) solid;
		margin-bottom: size(57px);
		@media screen and (max-width: 1050px) {
			margin-bottom: 58px;
		}
	}

	.catalog__sub__content {
		@include flex-start();
		gap: size(14px);
		@media screen and (max-width: 1050px) {
			@include flex-col-start();
			gap: 26px;
		}
		p {
			color: rgba(255, 255, 255, 0.5);
			font-size: size(14px);
			font-family: Poppins, sans-serif;
			font-weight: 400;
			line-height: 150%;
			word-wrap: break-word;
			@media screen and (max-width: 1050px) {
				font-size: 14px;
			}
		}
	}
}

.catalog__sub {
	@include flex-col-start();
	gap: size(12px);
	@media screen and (max-width: 1050px) {
		gap: 13px;
	}
	.sub {
		color: #fff;
	}
}

.catalog__cards {
	width: 100%;
	@include flex-stretch();
	gap: size(10px);
	margin-bottom: size(76px);
	@media screen and (max-width: 768px) {
		@include flex-col-start();
		margin-bottom: 76px;
	}
}
.catalog__card {
	position: relative;
	width: 100%;
	height: size(291px);
	@include flex-col-start();
	justify-content: flex-end;
	gap: size(13px);
	background-color: #fff;
	border-radius: 2px;
	padding: size(48px) size(40px);
	overflow: hidden;
	@media screen and (max-width: 768px) {
		height: 334px;
		gap: 13px;
	}
	.btn-arrow-right {
		position: absolute;
		top: size(27px);
		right: size(30px);
		width: size(59.93px);
		height: size(59.93px);
		@include flex-center();
		justify-content: center;
		background: white;
		border-radius: 9999px;
		box-shadow: 0px 0px 3px rgb(0, 0, 0, 0.1);
		z-index: 1;
		@media screen and (max-width: 768px) {
			top: 30px;
			right: 30px;
			width: 59.93px;
			height: 59.93px;
		}
		img {
			width: size(15.81px);
			height: size(7.67px);
			@media screen and (max-width: 768px) {
				width: 15.81px;
				height: 7.67px;
			}
		}
	}
	.catalog__card__img {
		position: absolute;
		height: max-content;
		width: max-content;
		top: 0;
		z-index: 0;
	}
	.catalog__card__title {
		position: relative;
		color: #6b6b6b;
		margin-bottom: 0;
		@media screen and (max-width: 768px) {
			font-size: 20px;
		}
	}
	.sub {
		position: relative;
		color: rgba(107.31, 107.31, 107.31, 0.5);
	}
}
.catalog__cards__big {
	flex: 1.3;
	@include flex-col-start();
	gap: size(10px);
	@media screen and (max-width: 768px) {
		width: 100%;
		flex: 1;
	}
	.catalog__card:first-child {
		.catalog__card__img {
			width: size(268px);
			height: size(261px);
			right: size(49px);
			@media screen and (max-width: 768px) {
				width: 388px;
				height: 230px;
				right: 0;
				object-fit: contain;
			}
		}
	}
	.catalog__card:last-child {
		.catalog__card__img {
			width: size(367px);
			height: size(162px);
			left: size(133px);
			@media screen and (max-width: 768px) {
				width: max-content;
				height: 170px;
				left: 0;
			}
		}
	}
}
.catalog__cards__small {
	flex: 1;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: size(10px);
	@media screen and (max-width: 768px) {
		width: 100%;
		grid-template-columns: repeat(1, 1fr);
	}
	.catalog__card {
		padding: size(28px) size(30px);
	}
	.catalog__card__title {
		font-size: size(20px);
		@media screen and (max-width: 768px) {
			font-size: 20px;
		}
	}
	.catalog__card__img {
		width: size(250px);
		height: size(217px);
		left: 0;
		@media screen and (max-width: 768px) {
			width: 250px;
			height: 230px;
		}
	}
	.catalog__card:nth-child(2n) {
		.catalog__card__title {
			width: 80%;
			@media screen and (max-width: 768px) {
				width: 100%;
			}
		}
		.catalog__card__img {
			left: auto;
			right: 0;
		}
	}
}
//!Question
.question {
	position: relative;
	@include main-container();
	@include flex-center();
	justify-content: flex-end;
	padding-top: size(129px);
	padding-bottom: size(129px);
	@media screen and (max-width: 1050px) {
		padding-top: 149px;
		padding-bottom: 149px;
	}
	.question__img {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: -1;
	}
	.question__contanier {
		width: size(550px);
		@include flex-col-start();
		padding: size(50px) size(45px);
		background-color: white;
		box-shadow: 0px 4px 100px rgba(0, 0, 0, 0.2);
		border-radius: 5px;
		@media screen and (max-width: 1050px) {
			width: 100%;
			padding: 50px 35px;
		}
		@media screen and (max-width: 400px) {
			padding: 40px 20px;
		}
	}
	.flex-center {
		width: 100%;
		margin-bottom: size(41px);
		@media screen and (max-width: 1050px) {
			margin-bottom: 24px;
		}
	}
	.question__title {
		width: 60%;
		color: black;
		font-size: size(28px);
		font-weight: 300;
		line-height: 120%;
		word-wrap: break-word;
		span {
			color: #ff2c2c;
		}
		@media screen and (max-width: 1050px) {
			width: 100%;
			font-size: 23px;
		}
	}
	.btn-arrow {
		span {
			@media screen and (max-width: 400px) {
				padding-left: 30px;
				padding-right: 30px;
			}
		}
	}
	.question__icon {
		width: size(47px);
		height: size(47px);
		@media screen and (max-width: 1050px) {
			display: none;
		}
	}
	.sub {
		color: rgba(0, 0, 0, 0.5);
		margin-bottom: size(50px);
		@media screen and (max-width: 1050px) {
			margin-bottom: 67px;
		}
	}
}

//!footer
footer {
	@include main-container();
	@include flex-col-start();
	padding-top: size(103px);
	padding-bottom: size(62px);
	background-color: #181818;
	.footer__content {
		width: 100%;
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		gap: size(105px);
		margin-bottom: size(276px);
		@media screen and (max-width: 1050px) {
			grid-template-columns: repeat(1, 1fr);
			gap: 50px;
			margin-bottom: 38px;
		}
	}
	.footer__title {
		color: rgba(255, 255, 255, 0.9);
		font-size: size(18px);
		font-family: Poppins, sans-serif;
		font-weight: 500;
		line-height: 152.3%;
		word-wrap: break-word;
		margin-bottom: size(36px);
		@media screen and (max-width: 1050px) {
			font-size: 18px;
			margin-bottom: 36px;
		}
	}
	.footer__nav {
		@include flex-col-start();
		gap: size(12px);
		@media screen and (max-width: 1050px) {
			gap: 12px;
		}
	}
	.footer__nav__item {
		color: rgba(255, 255, 255, 0.7);
		font-size: size(14px);
		font-family: Poppins, sans-serif;
		font-weight: 500;
		line-height: 152.3%;
		word-wrap: break-word;
		@media screen and (max-width: 1050px) {
			font-size: 14px;
		}
	}
	.phone {
		@include flex-col-start();
		@media screen and (max-width: 1050px) {
			margin-bottom: 30px;
		}
		.phone__sub {
			text-decoration: none;
		}
		.phone__link {
			color: white;
			font-weight: 400;
		}
	}
	.address {
		width: 100%;
		margin-bottom: 0;
		@media screen and (max-width: 1050px) {
			margin-bottom: 30px;
		}
	}
	.mail {
		margin-bottom: 0;
		@media screen and (max-width: 1050px) {
			margin-bottom: 30px;
		}
	}
	.logo__container {
		margin-bottom: size(28px);
	}
	.footer__bottom {
		position: relative;
		width: 100%;
		@include flex-center();
		@media screen and (max-width: 1050px) {
			@include flex-col-start();
			gap: 22px;
		}
	}
	.footer__about {
		width: 469px;
		color: rgba(255, 255, 255, 0.5);
		font-size: size(14px);
		font-family: Poppins, sans-serif;
		font-weight: 500;
		line-height: 152.3%;
		word-wrap: break-word;
		@media screen and (max-width: 1050px) {
			width: 100%;
			font-size: 14px;
		}
	}
	.icorp {
		@include flex-center();
		justify-content: flex-start;
		gap: size(4px);
		color: rgba(255, 255, 255, 0.5);
		font-size: size(16px);
		font-family: Poppins, sans-serif;
		font-weight: 600;
		line-height: 152%;
		word-wrap: break-word;
		@media screen and (max-width: 1050px) {
			width: 100%;
			gap: 4px;
			font-size: 16px;
		}
		img {
			width: size(7.78px);
			height: size(14.76px);
			@media screen and (max-width: 1050px) {
				width: 7.78px;
				height: 14.76px;
			}
		}
	}
	.copy {
		color: rgba(255, 255, 255, 0.7);
		font-size: size(14px);
		font-family: Poppins, sans-serif;
		font-weight: 400;
		word-wrap: break-word;
		@media screen and (max-width: 1050px) {
			width: 100%;
			font-size: 14px;
		}
	}
}

//*PAGES
.pages-top {
	width: 100%;
	height: 208px;
	margin-bottom: size(72px);
}
.pages {
	background-color: #f5f5f5;
	&.about {
		background-color: white;
	}
}

.breakets {
	@include main-container();
	@include flex-center();
	justify-content: flex-start;
	gap: size(17px);
	@media screen and (max-width: 1050px) {
		gap: 17px;
	}
}
.breakets__item {
	@include flex-center();
	justify-content: flex-start;
	gap: size(17px);
	color: black;
	font-size: size(16px);
	font-family: Poppins, sans-serif;
	font-weight: 400;
	line-height: 100%;
	word-wrap: break-word;
	@media screen and (max-width: 1050px) {
		gap: 17px;
		font-size: 16px;
	}
	&::after {
		content: "/";
		color: rgba(0, 0, 0, 0.5);
	}
	&:last-child {
		color: rgba(0, 0, 0, 0.2);
		&::after {
			content: "";
		}
	}
}

.result__title {
	color: rgba(0, 0, 0, 0.7);
	font-size: 23px;
	font-family: Poppins, sans-serif;
	font-weight: 400;
	line-height: 25.3px;
	word-wrap: break-word;
	border-bottom: 1px rgba(0, 0, 0, 0.1) solid;
	padding-bottom: size(50px);
	margin-bottom: size(50px);
}

.products {
	width: 100%;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(size(308px), 1fr));
	gap: size(20px);
	margin-bottom: size(172px);
	@media screen and (max-width: 1050px) {
		grid-template-columns: repeat(auto-fill, minmax(183px, 1fr));
		gap: 20px;
		margin-bottom: 177px;
	}
	.product__item {
		width: 100%;
		@include flex-col-start();
	}
	.product__preview {
		width: 100%;
		padding: size(68px) size(58px);
		background-color: white;
		border-radius: 5px;
		margin-bottom: size(22px);
		@media screen and (max-width: 1050px) {
			padding: 34px 39px;
			margin-bottom: 22px;
		}
	}
	.product__title {
		color: rgba(0, 0, 0, 0.7);
		font-size: size(15px);
		font-family: Poppins, sans-serif;
		font-weight: 400;
		line-height: 110%;
		word-wrap: break-word;
		margin-bottom: size(13px);
		@media screen and (max-width: 1050px) {
			font-size: 15px;
			margin-bottom: 13px;
		}
	}
	.product__sub {
		color: rgba(0, 0, 0, 0.3);
		font-size: size(15px);
		font-family: Poppins, sans-serif;
		font-weight: 400;
		line-height: 110%;
		word-wrap: break-word;
		@media screen and (max-width: 1050px) {
			font-size: 15px;
		}
	}
}
.span-text {
	margin-bottom: size(17px);
	@media screen and (max-width: 1050px) {
		margin-bottom: 17px;
	}
}
//!Catalog page
.catalog-page {
	@include main-container();
	margin-top: size(54px);
	margin-bottom: size(128px);
	@media screen and (max-width: 1050px) {
		margin-top: 67px;
		margin-bottom: 100px;
	}

	.span-text {
		margin-bottom: size(17px);
		@media screen and (max-width: 1050px) {
			margin-bottom: 17px;
		}
	}
	.block-title {
		margin-bottom: size(54px);
		@media screen and (max-width: 1050px) {
			margin-bottom: 67px;
		}
	}
	.catalog__cards {
		margin-bottom: size(117px);
		@media screen and (max-width: 1050px) {
			margin-bottom: 137px;
		}
	}
	.catalog__sub {
		.sub {
			color: black;
		}
		.catalog__sub__content {
			color: rgba(0, 0, 0, 0.5);
		}
	}
}

//!About Page
.about-page {
	.about__container {
		@include main-container();
		@media screen and (max-width: 1050px) {
			padding: 0;
		}
	}
	.block-title {
		margin-bottom: size(60px);
		@media screen and (max-width: 1050px) {
			margin-bottom: 50px;
		}
	}
	.content__title {
		color: black;
		text-transform: uppercase;
		margin-bottom: size(44px);
		@media screen and (max-width: 1050px) {
			margin-bottom: 42px;
		}
	}
	.sub {
		color: rgba(0, 0, 0, 0.5);
	}
	.about-img {
		width: size(635px);
		height: size(388px);
		border-radius: 5px;
		@media screen and (max-width: 1050px) {
			width: 100%;
			height: max-content;
			max-height: 261px;
			border-radius: 0;
		}
	}
	.quality__cards {
		margin-bottom: size(33px);
		@media screen and (max-width: 1050px) {
			margin-bottom: 56px;
		}
	}
}
.about__content {
	width: 100%;
	@include flex-col-start();
	margin-bottom: size(77px);
	border-radius: 5px;
	@media screen and (max-width: 1050px) {
		margin-bottom: 58px;
	}
	.flex-end {
		width: 100%;
		margin-bottom: size(34px);
		@media screen and (max-width: 1050px) {
			@include flex-col-start();
			margin-bottom: 55px;
		}
	}
	.flex-col-start {
		width: size(547px);
		@media screen and (max-width: 1050px) {
			@include main-container();
		}
	}
}
.gallery {
	@include flex-stretch();
	gap: size(20px);
}
