@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	transition: all 0.15s;
}
//temaplates
$main-color: #d00101;

$index: calc(1vw + 1vh);
$conversion-factor: 24px;

@function size($px) {
	@return calc($px / $conversion-factor * $index);
}

@mixin main-container() {
	width: 100%;
	padding-right: size(120px);
	padding-left: size(120px);
	@media screen and (max-width: 1050px) {
		padding-right: 20px;
		padding-left: 20px;
	}
}

@mixin btn($py, $px, $fon, $color) {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	padding: size($py) size($px);
	background-color: $fon;
	border-radius: 2px;
	color: $color;
	font-size: size(16px);
	font-weight: 400;
	line-height: size(16px);
	word-wrap: break-word;
	white-space: nowrap;
	transition: all 0.3s ease-in-out;
	@media screen and (max-width: 1050px) {
		font-size: 20px;
		line-height: 22px;
		padding: $py $px;
	}
}

@mixin flex-start {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
}

@mixin flex-center {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

@mixin flex-stretch {
	display: flex;
	align-items: stretch;
}

@mixin flex-end {
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
}

@mixin flex-col-center {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}

@mixin flex-col-start {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

@mixin flex-col-end {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

body {
	width: 100%;
	@include flex-col-start();
	font-family: "Poppins", sans-serif;
	font-optical-sizing: auto;
	font-weight: normal;
	font-style: normal;
	background-color: #fff;
	overflow-x: hidden;
	&.overflow-hidden {
		overflow: hidden;
	}
}

img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

a {
	font-family: inherit;
	color: inherit;
	text-decoration: none;
}

li {
	list-style-type: none;
}

.flex-start {
	@include flex-start();
}

.flex-center {
	@include flex-center();
}
.flex-end {
	@include flex-end();
}

.flex-col-end {
	@include flex-col-end();
}

.flex-col-start {
	@include flex-col-start();
}

.flex-col-center {
	@include flex-col-center();
}
.flex-stretch {
	@include flex-stretch;
}

.span-text {
	color: rgba(255, 255, 255, 0.5);
	font-size: size(14px);
	font-weight: 400;
	line-height: 100%;
	word-wrap: break-word;
	@media screen and (max-width: 1050px) {
		font-size: 14px;
	}
}

.main-title {
	color: white;
	font-size: size(60px);
	font-weight: 400;
	line-height: 110%;
	word-wrap: break-word;
	@media screen and (max-width: 1050px) {
		font-size: 40px;
	}
}

.block-title {
	color: #656565;
	font-size: size(32px);
	font-weight: 400;
	line-height: 110%;
	word-wrap: break-word;
	span {
		color: #ff2c2c;
	}
	@media screen and (max-width: 1050px) {
		font-size: 26px;
	}
}

.sub {
	color: rgba(255, 255, 255, 0.7);
	font-size: size(16px);
	font-weight: 300;
	line-height: 160%;
	word-wrap: break-word;
	@media screen and (max-width: 1050px) {
		font-size: 16px;
	}
}
.sub-secondary {
	color: rgba(0, 0, 0, 0.5);
	font-size: size(14px);
	font-weight: 300;
	line-height: 130%;
	word-wrap: break-word;
	@media screen and (max-width: 1050px) {
		font-size: 14px;
	}
}

.btn-arrow {
	position: relative;
	height: size(56px);
	@include flex-stretch();
	@media screen and (max-width: 1050px) {
		width: 291px;
		height: 56px;
	}
	span {
		@include btn(20px, 51.5px, white, rgba(0, 0, 0, 0.8));
		border: 1px #e8e8e8 solid;
	}
	.btn__label__container {
		height: 100%;
		width: size(55px);
		@include flex-center();
		justify-content: center;
		background-color: $main-color;
		@media screen and (max-width: 1050px) {
			width: 55px;
		}
	}
	.btn__label {
		width: size(8px);
		height: size(14px);
	}
}

.num {
	color: #ff2c2c;
	font-size: size(48px);
	font-weight: 600;
	line-height: 100%;
	word-wrap: break-word;
	@media screen and (max-width: 1050px) {
		font-size: 48px;
	}
}

.dropdown-lang {
	position: relative;
	cursor: pointer;
	&.active {
		.dropdown-list {
			opacity: 1;
			height: 100px;
			@media screen and (max-width: 1050px) {
				height: 130px;
			}
		}
		.span-dropdown {
			opacity: 0.5;
		}
	}
}
.current-lang__img {
	width: 31px;
	height: 21px;
}
.current-lang {
	@include flex-center();
	color: rgba(255, 255, 255, 0.9);
	font-size: size(17px);
	font-weight: 500;
	line-height: 100%;
	word-wrap: break-word;
}
.dropdown-list {
	position: absolute;
	opacity: 0;
	height: 0;
	top: 150%;
	left: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px;
	background-color: #fff;
	padding: size(13px) size(10px);
	border-radius: 10px;
	overflow: hidden;
	z-index: 6;
	transition: all 0.4s;
	.item-dropdown {
		color: rgba(0, 0, 0, 0.8);
		font-size: size(17px);
		font-weight: 500;
		line-height: 100%;
		word-wrap: break-word;
	}
}
// !Header
header {
	@include main-container();
	position: absolute;
	top: 0;
	background-color: $main-color;
	@include flex-center();
	padding-top: size(17px);
	padding-bottom: size(18px);
	color: #fff;
	z-index: 10;
	@media screen and (max-width: 1050px) {
		padding-top: 17px;
		padding-bottom: 19px;
	}
	.phone {
		@media screen and (max-width: 1050px) {
			display: none;
		}
	}
}
.logo__container {
	width: size(120px);
	height: size(27.37px);
	margin-right: size(66px);
	@media screen and (max-width: 1050px) {
		width: 120px;
		height: 27.37px;
	}
}
.navbar {
	display: flex;
	align-items: center;
	gap: size(26px);
	margin-right: size(50px);
	& > * {
		white-space: nowrap;
	}
	@media screen and (max-width: 1050px) {
		display: none;
	}
}
.nav__item {
	color: rgba(255, 255, 255, 0.9);
	font-size: size(17px);
	font-weight: 500;
	line-height: 100%;
	word-wrap: break-word;
}

.phone {
	@include flex-col-end();
	gap: size(6px);
}
.phone__link {
	color: rgba(255, 255, 255, 0.9);
	font-size: size(18px);
	font-weight: 700;
	line-height: 100%;
	word-wrap: break-word;
}
.phone__sub {
	color: rgba(255, 255, 255, 0.7);
	font-size: size(14px);
	font-weight: 500;
	text-decoration: underline;
	line-height: 100%;
	word-wrap: break-word;
}
#search_icon {
	width: size(24px);
	height: size(24px);
	cursor: pointer;
	@media screen and (max-width: 1050px) {
		display: none;
	}
}
.request__btn {
	@include btn(21.5px, 53px, rgba(255, 255, 255, 0.4), #fff);
	@media screen and (max-width: 1050px) {
		display: none;
	}
}

// Mobile menu
.mobile-menu {
	position: fixed;
	inset: 0;
	@include main-container();
	width: 100vw;
	height: 0;
	@include flex-col-start();
	background: linear-gradient(189deg, #2b2627 0%, #2d1818 100%);
	overflow-y: auto;
	z-index: 8;
	transition: all 0.5s;
	&.active {
		height: 100vh;
		padding-top: 125px;
		padding-bottom: 29.52px;
	}
	@media screen and (min-width: 1050px) {
		display: none;
	}
	.phone {
		@include flex-col-start();
		margin-bottom: 26px;
	}
	.phone__link {
		color: white;
		font-size: 20px;
		font-weight: 400;
		word-wrap: break-word;
	}
	.phone__sub {
		color: rgba(255, 255, 255, 0.7);
		font-size: 17px;
		font-weight: 500;
		word-wrap: break-word;
		text-decoration: none;
	}
}
.mobile-menu__title {
	color: rgba(255, 255, 255, 0.5);
	font-size: 18px;
	font-weight: 400;
	line-height: 110%;
	word-wrap: break-word;
	margin-bottom: 36px;
}
.mobile-menu__navbar {
	@include flex-col-start();
	gap: 25px;
	margin-bottom: 97px;
	.navbar__item,
	.current-lang {
		align-self: stretch;
		color: rgba(255, 255, 255, 0.8);
		font-size: 28px;
		font-weight: 400;
		line-height: 110%;
		word-wrap: break-word;
	}
	.item-dropdown {
		color: rgba(0, 0, 0, 0.8);
		font-size: 28px;
		font-weight: 400;
		line-height: 30.8px;
		word-wrap: break-word;
	}
}
.address {
	width: 292px;
	color: rgba(255, 255, 255, 0.7);
	font-size: 17px;
	font-weight: 400;
	line-height: 25.88px;
	word-wrap: break-word;
	margin-bottom: 47px;
}
.mail {
	color: rgba(255, 255, 255, 0.9);
	font-size: 17px;
	font-weight: 600;
	word-wrap: break-word;
	margin-bottom: 46px;
}
.socmedia {
	display: flex;
	align-items: center;
	gap: 9.82px;
	.soc__item {
		width: 35.76px;
		height: 35.18px;
	}
}

//burger menu
.menu-btn {
	position: relative;
	cursor: pointer;
	&.active {
		.menu-btn__burger {
			width: 0;
			height: 0;
		}
		.menu-btn__close {
			width: 41px;
			height: 41px;
		}
	}
	@media screen and (min-width: 1050px) {
		display: none;
	}
	.menu-btn__replacer,
	.menu-btn__burger {
		width: 37px;
		height: 25.74px;
	}
	.menu-btn__burger,
	.menu-btn__close {
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		transition: all 0.5s;
	}
	.menu-btn__close {
		width: 0;
		height: 0;
	}
}

//!main page
.main-block {
	position: relative;
	width: 100vw;
	height: 100vh;
	background: #000;
	.main-slider {
		position: relative;
		width: 100%;
		height: 100%;
	}
	.btns {
		position: absolute;
		left: size(120px);
		@include flex-center();
		gap: size(21px);
		z-index: 2;
		.btns__next,
		.btns__prev {
			width: size(51px);
			height: size(51px);
			cursor: pointer;
		}
	}
	.swiper-fraction {
		all: unset;
		position: absolute;
		right: size(120px);
		color: rgba(255, 255, 255, 0.5);
		font-size: size(20px);
		font-weight: 400;
		line-height: size(22px);
		word-wrap: break-word;
		z-index: 2;
	}
	.swiper-wrapper {
		width: 100%;
		height: 100%;
	}
	.swiper-slide {
		overflow: hidden;
	}
	.main-slider__item {
		@include main-container();
		height: 100%;
		@include flex-col-start();
		padding-top: size(414px);
		padding-bottom: size(43px);
	}
	.slide__img {
		position: absolute;
		inset: 0;
		z-index: -1;
	}
	.offer {
		width: 100%;
		@include flex-end();
		gap: 20px;
		padding-bottom: size(45px);
		border-bottom: 1px rgba(255, 255, 255, 0.3) solid;
		margin-bottom: size(46px);
	}
	.offer__content {
		width: size(647px);
		@include flex-col-start();
		gap: size(17px);
		@media screen and (max-width: 1050px) {
			width: 100%;
		}
	}
	.offer__structure {
		@include flex-end();
		justify-content: flex-start;
	}
	.main-slider__btn {
		margin-right: size(29px);
	}
	.offer__bottom {
		width: 100%;
		@include flex-center();
		justify-content: flex-start;
		gap: size(45px);
	}
	.settings {
		width: size(52px);
		height: size(52px);
		margin-right: size(67px);
	}
	.sub {
		width: size(514px);
	}
	.replacer__btns {
		width: size(127px);
		height: size(51px);
	}
	.replacer__fraction {
		width: size(39px);
		height: size(22px);
	}
}

.numbers {
	@include main-container();
	position: absolute;
	right: 0;
	bottom: 0;
	z-index: 3;
	width: 50%;
	@include flex-start();
	justify-content: flex-end;
	gap: size(53px);
	padding-top: size(32px);
	padding-bottom: size(20px);
	.numbers__bg {
		position: absolute;
		width: 100%;
		height: 100%;
		right: 0;
		bottom: 0;
		z-index: -1;
		object-position: 0;
	}
	.numbers__item {
		@include flex-center();
		gap: size(15px);
	}
	.numbers__sub {
		width: size(65px);
		color: rgba(0, 0, 0, 0.5);
		font-size: size(14px);
		font-weight: 300;
		line-height: size(18.2px);
		word-wrap: break-word;
	}
}

.line {
	width: 98%;
	height: 0px;
	border: 3px #ff2c2c solid;
	margin-top: size(60px);
	margin-bottom: size(58px);
	place-self: end;
}

//!Filter
.filter {
	position: relative;
	@include main-container();
	.span-text {
		color: rgba(167.88, 167.88, 167.88, 0.65);
		margin-bottom: size(17px);
	}
	.filter__bg {
		position: absolute;
		left: 50%;
		width: 100%;
		padding-right: size(42px);
		padding-left: size(42px);
		transform: translateX(-50%);
		object-position: top;
		z-index: -1;
	}
	.fiter__cotainer {
		padding-top: size(50px);
		padding-bottom: size(74px);
	}
	.flex-center {
		margin-bottom: size(76px);
	}
	.filter__btn {
		width: 100%;
		height: max-content;
		@include btn(17px, 150px, $main-color, #fff);
		justify-content: center;
		align-self: flex-end;
	}
}
.filters__content {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(size(407px), 1fr));
	row-gap: size(34px);
	column-gap: size(48px);
}
.filters__item {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	.item__title {
		color: black;
		font-size: size(16px);
		font-weight: 300;
		line-height: 100%;
		word-wrap: break-word;
		margin-bottom: size(20px);
	}
	form {
		position: relative;
		width: 100%;
	}

	input {
		width: 100%;
		padding: size(16px) size(17px);
		background: white;
		border-radius: 2px;
		border: 1px solid;
		justify-content: flex-start;
		align-items: center;
		gap: 10px;
		display: inline-flex;
		color: rgba(0, 0, 0, 0.55);
		font-size: size(14px);
		font-weight: 300;
		line-height: 100%;
		word-wrap: break-word;
		cursor: pointer;
	}
	.dropdown__search__icon,
	.dropdown__triangel {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		right: size(17px);
		z-index: 2;
	}
	.dropdown__search__icon {
		width: size(18.02px);
		height: size(18.02px);
	}
	.dropdown__triangel {
		width: size(14px);
		height: size(7px);
		transition: all 0.5s;
	}
	.filter__dropdown {
		position: relative;
		width: 100%;
		transition: all 0.5s;
		&.active,
		&:hover {
			.filter__dropdown__container {
				height: size(200px);
				padding: size(20px) size(10px);
				overflow-y: auto;
			}
			.dropdown__triangel {
				transform: translateY(-50%) rotate(-180deg);
			}
		}
	}
	.filter__dropdown__container {
		position: absolute;
		top: 110%;
		left: 0;
		height: 0;
		width: 100%;
		background-color: white;
		overflow: hidden;
		display: flex;
		flex-direction: column;
		gap: size(10px);
		transition: all 0.3s;
		cursor: pointer;
		z-index: 2;
	}
}
.circle-settings {
	width: size(80.26px);
	height: size(80.26px);
}
.img__label {
	width: 100vw;
	height: size(205px);
	margin-top: size(72px);
	margin-bottom: size(94px);
}

//!quality
.quality {
	@include main-container();
	@include flex-col-start();
	margin-bottom: size(87px);
	.flex-end {
		width: 100%;
		padding-bottom: size(45px);
		border-bottom: 1px #ff2c2c solid;
		margin-bottom: size(47px);
	}
	.flex-col-start {
		width: size(550px);
	}
	.span-text {
		color: #a8a8a8;
		margin-bottom: size(17px);
	}
}
.quality__cards {
	display: flex;
	align-self: stretch;
	gap: size(20px);
}
.quality__card {
	flex: 1;
	@include flex-col-start();
	background: #f6f6f6;
	padding: size(27px) size(16px);
	transition: all 0.5s;
	border: 1px solid #f6f6f6;
	&:last-child {
		flex: 1.5;
		background-color: #fff;
		border-color: #ddd;
	}
	.card__top {
		width: 100%;
		@include flex-start();
		gap: 10px;
		margin-bottom: size(24px);
	}
	.card__img {
		width: size(65px);
		height: size(65px);
		padding: size(20px);
		background-color: #231f20;
		border-radius: 50%;
	}
	.card__title {
		width: 100%;
		color: #222222;
		font-size: size(18px);
		font-weight: 400;
		line-height: 130%;
		word-wrap: break-word;
		padding-bottom: size(22px);
		border-bottom: 1px #e0e0e0 solid;
		margin-bottom: size(22px);
	}
	.card__sub {
		width: 100%;
		color: #686868;
		font-size: size(13px);
		font-weight: 300;
		line-height: 150%;
		word-wrap: break-word;
	}
}

//!Catalog
.catalog {
	position: relative;
	@include main-container();
	width: 100vw;
	@include flex-col-start();
	padding-top: size(93px);
	padding-bottom: size(118px);
	background: #231f20;
	.catalog__img {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		opacity: 0.06;
	}
	.span-text {
		color: rgba(255, 255, 255, 0.65);
		margin-bottom: size(17px);
	}
	.block-title {
		color: #fff;
		margin-bottom: size(83px);
	}
	.catalog__line {
		width: 100%;
		height: 0px;
		border: 1px rgba(255, 255, 255, 0.2) solid;
		margin-bottom: size(57px);
	}
}

.catalog__cards {
	width: 100%;
	display: grid;
	grid-template-columns: 2fr repeat(2, 1fr);
	gap: size(10px);
}
.catalog__card {
	position: relative;
	width: 100%;
	height: size(291px);
	@include flex-col-start();
	justify-content: flex-end;
	gap: size(13px);
	padding-left: size(30px);
	padding-right: size(30px);
	padding-bottom: size(28px);
	background: linear-gradient(180deg, white 0%, white 100%);
	border-radius: 2px;
	overflow: hidden;
	&:nth-child(4) {
		.catalog__card__img {
			left: size(133px);
		}
	}
	&:nth-child(2),
	&:nth-child(5),
	&:nth-child(3),
	&:nth-child(6) {
		.catalog__card__img {
			width: size(250px);
			height: size(217px);
		}
		.catalog__card__title {
			font-size: size(20px);
		}
		.catalog__card__title {
			width: size(168px);
			font-size: size(20px);
		}
	}
	&:nth-child(2),
	&:nth-child(5) {
		.catalog__card__img {
			left: 0;
		}
	}
	&:nth-child(3),
	&:nth-child(6) {
		.catalog__card__img {
			right: 0;
		}
	}
	&:nth-child(4) {
		.catalog__card__img {
			height: size(162px);
		}
	}
	.btn-arrow-right {
		position: absolute;
		top: size(27px);
		right: size(30px);
		width: size(59.93px);
		height: size(59.93px);
		@include flex-center();
		justify-content: center;
		background-color: white;
		border-radius: 9999px;
		box-shadow: 0px 0px 23px rgb(0, 0, 0, 0.1);
		img {
			width: size(15.81px);
			height: size(7.67px);
		}
	}
	.catalog__card__img {
		position: absolute;
		top: 0;
		right: size(49px);
		width: max-content;
		height: size(261px);
		z-index: 0;
	}
	.catalog__card__title {
		position: relative;
		color: #6b6b6b;
		margin-bottom: 0;
	}
	.sub {
		position: relative;
		color: rgba(107.31, 107.31, 107.31, 0.5);
	}
}
